body {
  text-align: center;
}

h1 {
  margin-bottom: 0;
  color: #3c6255;
}

p {
  margin-top: 5px;
  color: #3c6255;
}

img {
  width: 100%;
}

.photo {
  margin: 1rem;
}

button {
  padding: 8px 12px;
  margin: 5px;
  background-color: #61876e;
  color: white;
  border: none;
  border-radius: 6px;
  letter-spacing: 1px;
}
